:root {
    --fg: black;
    --bg: white;
    --border: silver;
}

* {
    font-family: monospace;
}

html {
    font-size: 14px;
}

html,
body {
    height: 100%;
    color: var(--fg);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
}

p,
h1 {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid var(--border);
}

.timestamps {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 1.25rem;
    touch-action: manipulation;
}
