html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p,
h1 {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid black;
}

button {
    font-size: 1.25rem;
    touch-action: manipulation;
}
